# App DB
APP_DB_HOST=postgres
APP_DB_PORT=5432
APP_DB_NAME=mlops
APP_DB_USER=mlops
APP_DB_PASSWORD=mlops

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio12345
MINIO_SECURE=false
MINIO_BUCKET_DATASETS=datasets
MINIO_BUCKET_MLFLOW=mlflow
MINIO_BUCKET_REPORTS=reports

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Airflow Admin (for local only)
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Streaming (later)
KAFKA_BROKER=redpanda:9092
KAFKA_TOPIC_RAW_EVENTS=raw_content_events
KAFKA_TOPIC_DLQ=raw_content_events_dlq
